{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row py-4">
            <div class="col-lg-12" style="text-align: right;">
              <p id="currentDate" class=h3></p>
              <script>
                var currentDate = new Date();
                document.getElementById("currentDate").innerHTML = currentDate.toDateString();
              </script>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h5 class="h3 mb-0">Total orders</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="my-4">Detail<small>{{ object.name }}</small></h1>
              <div class="row">
                <div class="col-12">
                  <form method="post">
                    {% csrf_token %}
                    <label for="product">Product:</label>
                    <input type="text" name="product" value="{{ product.product }}" required><br><br>
                    
                    <label for="purchase">Purchase:</label>
                    <input type="text" name="purchase" value="{{ product.purchase }}" required><br><br>
                    
                    <label for="sale">Sale:</label>
                    <input type="text" name="sale" value="{{ product.sale }}" required><br><br>
                    
                    <label for="qty">Quantity:</label>
                    <input type="text" name="qty" value="{{ product.qty }}" required><br><br>
                    
                    <label for="gender">Gender:</label>
                    <select name="gender" required>
                        <option value="">Select</option>
                        <option value="M" {% if product.gender == "M" %}selected{% endif %}>Male</option>
                        <option value="F" {% if product.gender == "F" %}selected{% endif %}>Female</option>
                        <option value="U" {% if product.gender == "U" %}selected{% endif %}>Unisex</option>
                    </select><br><br>
                    
                    <label for="notes">Notes:</label>
                    <textarea name="notes">{{ product.notes }}</textarea><br><br>
                    
                    <input type="submit" value="Save">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
